[submodule "textemp"]
	path = textemp
	url = https://github.com/nicktehrany/textemp
[submodule "tmux/tmux-plugins/tpm"]
	path = tmux/tmux-plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vscode/Dictionaries"]
	path = vscode/Dictionaries
	url = https://github.com/titoBouzout/Dictionaries
	ignore = dirty
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
