[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "bin/textemp"]
	path = bin/textemp
	url = https://github.com/nicktehrany/textemp.git
[submodule "bin/mdtemp"]
	path = bin/mdtemp
	url = https://github.com/nicktehrany/mdtemp.git
[submodule "slock"]
	path = slock
	url = https://git.suckless.org/slock/
